:root {
  --background: #000;
  --primary: #66fcf1;
  --secondary: #45a29e;
  --third: #1f2833c4;
  --fourth: #0b0c10;
  --fourthUp:#13151d;
  --text: #c5c6c7;
  --white:#fff;
  --headFont: "Poppins", sans-serif;
  --bodyFont: "Lato", sans-serif;
  --bodyFont2: "Roboto",sans-serif;
  --codeFont: 'Source Code Pro', monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
